.button{
    text-decoration: none;
    width: 371px;
    font-size: 26px;
    height: 61px;  
    display: inline-flex;
    align-items: center;
    font-family: 'Circe';
    font-weight: 400;
    justify-content: center;
    box-sizing: border-box;    
}

.btn-white{
    width: 264px;
    color: #ffffff;
    border: 6px solid #ffffff;
    margin-top: 59px;
}

.btn-green{
    color: #62cc82;
    border: 6px solid #62cc82;
}
.btn-green-full{
    color: #ffffff;
    background: #62cc82;
    border: 6px solid #62cc82;
}