.views {
  .views_puzzle {
    display: flex;
    height: 767px;
    
    .views_puzzle-big50 {
      max-width: 50%;
      display: flex;
    }
    .views_puzzle-horizontal {
      flex-direction: column;
      flex-wrap: wrap;
      .views_puzzle-small50 {
          display: flex;
          justify-content: center;
          width: 100%;
        }
          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
}
.views_puzzle-vertical {
    flex-wrap: nowrap;
    .views_puzzle-small50 {
        display: flex;
        flex-direction: column;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
      }
    }
  }
}

@media all and (max-width: 1180px){
  .views {
    .views_puzzle {      
      height: 676px;
    }
  }
}