.description{
    text-align: center;
    .description_title{
        font-family: 'Circe';
        font-weight: 400;
        color: #362c2d;
        font-size: 36px;
        margin-bottom: 0;
    }
    .description_line{
        display: inline-block;
        height: 3px;
        width: 143px;
        background-color: #62cc82;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    p{
        display: inline-block;
        width: 60%;
        font-family: 'Myriad Pro';
        color: #000000;
        font-size: 16px;
        line-height: 24px;
        margin: 0;
        span{
            color: #62cc82;
            padding-bottom: 1px;
            border-bottom: 1px solid #62cc82;
        }
    }
}
@media all and (max-width: 767px){
    .description{
        p{
            width: auto;
        }
    }
}