.offer{
    padding: 0;
    .offer_title{
        text-align: center;
        height: 748px;
        .offer_title_bg{
            position: absolute;
            top: 0;
            left: 0;            
            z-index: -1;
            height: 748px;
            width: 100%;
            object-fit: cover;
        }
        .offer_title_text{
            color: #ffffff;
            text-align: center;
            font-family: 'Circe';
            font-size: 61px;
            font-weight: 800;
            text-shadow: 0 8px 32px #152726;
            margin: 0;
            padding-top: 320px;
        }
    }
    .offer_description{
        text-align: center;
        .offer_description_title{
            font-family: 'Circe';
            font-weight: 400;
            color: #362c2d;
            font-size: 36px;
            margin-bottom: 0;
        }
        .offer_description_line{
            display: inline-block;
            height: 3px;
            width: 143px;
            background-color: #62cc82;
            margin-top: 40px;
            margin-bottom: 40px;
        }
        .offer_description_text{
            display: inline-block;
            width: 60%;
            font-family: 'Myriad Pro';
            color: #000000;
            font-size: 16px;
            line-height: 24px;
            margin: 0;
            span{
                color: #62cc82;
                padding-bottom: 1px;
                border-bottom: 1px solid #62cc82;
            }
        }
    }
}