.header {
  height: 63px;
  background-color: #1a1e22;
  opacity: 0.8;
  .container{
    display: flex;
    .logo {
      display: flex;
      align-items: center;
      a{
        line-height: 63px;
        display: flex;
        align-items: center;
      }
    }
    .menu {
      display: flex;
      padding: 0;
      margin: 0;
      .menu_item {
        color: #ffffff;
        text-decoration: none;
        margin-left: 85px;
        line-height: 63px;
        font-family: 'Circe';
        font-weight: 300;
      }
    }
  }
}
