.blog {
  display: block;
  .blog_btn {
      padding: 70px 0 79px;
    text-align: center;
  }
  .blog_list {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    .list_item {
      max-width: 345px;
      width: 100%;
      border: 5px solid transparent;
      box-sizing: border-box;
      .item_photo {
        position: relative;
        .item_photo-img{
            width: 100%;
        }
        .item_date {
          position: absolute;          
          left: 0;
          bottom: 30px;          
          background-color: #88e7a5;
          opacity: 0.9;  
          font-family: "Circe";
          font-weight: 800; 
          color: #ffffff;
          font-size: 27px;  
          padding: 13px 27px;     
        }        
      }
      .item_name {
        font-family: "Circe";
        font-size: 22px;
        color: #362c2d;
        text-align: left;
        margin-bottom: 14px;
      }
      .item_status {
        font-family: "Myriad Pro";
        font-size: 16px;
        color: #362c2d;
        text-align: left;
      }
    }
  }
}

@media all and (max-width: 767px){
  .blog{
    .blog_list{
      flex-direction: column;
    }
  }
}