.elephants{
    display: block;
    .elephants_block{
        position: relative;                
        height: 780px;
        .elephants_block_bg{
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .elephants_block_text{
            position: absolute;
            bottom: -115px;
            left: 45%;
            width: 588px;
            background: #ffffff;
            box-shadow: 0 37px 51px rgba(119, 119, 99, 0.21);
            padding: 67px 61px;
            box-sizing: border-box;
            .elephants_block_text_p{
                font-family: "Myriad Pro";
                font-size: 16px;
                line-height: 24px;
                margin: 0;
                &:first-child{
                    padding-bottom: 20px;
                }
                span{
                    color: #62cc82;
                    padding-bottom: 1px;
                    border-bottom: 1px solid #62cc82;
                }
            }
        }
    }
    .elephants_btn{
        margin-top: 198px;
        margin-bottom: 74px;
        text-align: center;
    }
}