.whois {
  margin-top: 97px;
  .whois_list {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    .list_item {
      max-width: 345px;
      width: 100%;
      border: 5px solid transparent;
      box-sizing: border-box;
      .item_photo {
        position: relative;
        .item_photo-img{
          width: 100%;
        }
        .item_photo-hover {
          position: absolute;
          top: -10px;
          left: -10px;
          bottom: 10px;
          right: 10px;
          background-color: #88e7a5;
          opacity: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.3s ease-in-out;
          .item_photo-hover_icon {
            width: 46px;
            height: 46px;
            margin: 0 3.5px;
          }
        }
        &:hover {
          .item_photo-hover {
            opacity: 0.9;
            cursor: pointer;
          }
        }
      }
      .item_name {
        font-family: "Circe";
        font-size: 26px;
        color: #362c2d;
        text-align: center;
      }
      .item_status {
        font-family: "Myriad Pro";
        font-size: 16px;
        color: #362c2d;
        text-align: center;
      }
    }
  }
}

@media all and (max-width: 118px){

}